# Las matematicas de la regresion logistica
### Tablas de contingencia

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../python-ml-course/datasets/gender-purchase/Gender Purchase.csv")

In [3]:
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [4]:
df.shape

(511, 2)

In [5]:
len(df)

511

In [8]:
contingency_table =pd.crosstab(df["Gender"], df["Purchase"])

In [9]:
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [11]:
contingency_table.sum(axis = 0)

Purchase
No     231
Yes    280
dtype: int64

In [13]:
contingency_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [15]:
contingency_table.astype("float").div(contingency_table.sum(axis=1), axis = 0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

 *Cual e sla probalbiliadad de que iun cliente compre un prodcto , sabiendo que es hombre

*Cual es la probabilidad de que sabiendo que un cliente compra un producto sea mujer?

In [17]:
from IPython.display import display, Math, Latex

In [20]:
display(Math(r'P(Purchase|Male)= \frac{ Numero\ total\ de\ compras\ hechas\ por\ hombres\ del\ grupo\}'))

# Ratio de probabilidades
cociente entre casos de exito y casos de fracaso en el suceso estudiado

In [24]:
display(Math(r"odds_{purchase,male} = \frac{P_m}{1-P_m}"))

In [25]:
pm =  121 / 246 
pf = 159/ 265
odds_m= pm/(1-pm)
odds_f = pf/(1-pf)

In [26]:
odds_f

1.4999999999999998

# La regresion logistica desde la regresion lineal